fastapi
uvicorn[standard]
jinja2
python-multipart

Pillow

pymupdf

google-cloud-dlp
python-dotenv

pytesseract
opencv-python

sqlalchemy
psycopg2
paddleocr

paddlepaddle
setuptools
pptx

google-cloud-vision