fastapi
uvicorn[standard]
jinja2
python-multipart

Pillow

pymupdf

google-cloud-dlp
python-dotenv

pytesseract
opencv-python

sqlalchemy
psycopg2
paddleocr

paddlepaddle
setuptools
python-pptx



python-docx 
olefile 
pyhwp
six


psycopg2-binary 


setuptools